# ignore zip downloads and txt import files
/txt-import
/zip-archives

#igmore mysql models
/mysql-models

# ignore log files
# fec-pentaho-kettle-etl.log
# fec-pentaho-kettle-etl.txt

# ignore some sql
# /sql/utilities.sql
#
